$highlight-text-color: #1F7AAE;
$color-battons: #8fb7d9;
$block-shadow: rgba(18, 90, 150, 0.5);
$text-shadow-slider: rgba(18, 90, 150, 1);
$color-link: #558ab6;
$colorFon: #0c335d;
$colorFonFooter: rgba(12, 51, 93, 0.4);
$colorTextWhite: white;
$colorTextBlack: black;
$colorContactsFon: #e0e0e0;